%h2 Add a new friend
= form_for(:friendship,:url => friends_path(:user_id => current_user,:friend_id => @friend),:html => { :multipart => true }) do |f|
  %p
    Define your relationship with
    %strong=@friend.username
  %p
    %strong Friendship
    %br
    = f.radio_button :friendship, :contact
    Contact
    = f.radio_button :friendship, :acquaintance
    Acquaintance
    = f.radio_button :friendship, :friend
    Friend
    = f.radio_button :friendship, false
    None
  %p
    %strong Physical
    %br
    = f.check_box :met
    Met
  %p
    %strong Professional
    %br
    = f.check_box :coworker
    Co-worker
    = f.check_box :colleague
    Colleague
  %p
    %strong Geographical
    %br
    = f.radio_button :geographical, :coresident
    Co-resident
    = f.radio_button :geographical, :neighbor
    Neighbor
    = f.radio_button :geographical, false
    None