= simple_form_for(@article) do |f|
  = f.input :title
  = f.input :synopsis
  = f.input :body
  = f.input :category_id, :collection => Category.all
  = f.input :published, :as => :boolean
  = f.submit
= link_to 'cancel', articles_path