%h2
  Forum:
  = @forum.name
%h3 Topics
%p
  - if current_user
    = link_to 'Post New Topic', new_forum_topic_path(:forum_id => @forum)
  - else
    = link_to 'Login to post a new topic', :controller => 'account',:action => 'login'
%table#topics
  %thead
    %th.name Topics
    %th.reply Posts
    %th.author Author
  %tbody
    - @topics.each do |topic|
      %tr{ :class=>"#{cycle('odd', 'even')}"}
        %td.name=link_to topic.name, posts_path(:forum_id => @forum,:topic_id => topic)
        %td.reply=topic.posts_count
        %td.author=link_to topic.user.username,user_path(:id => topic.user)
= paginate @topics