%h2 All Pages
%ul
  - @pages.each do |page|
    %li
      = page.title
      = link_to page.permalink, page_path(page)
      = link_to 'edit', edit_page_path(page)
      = link_to 'delete', page, :method => :delete,
        :confirm => 'Are you sure you wish to delete this page?'
%p= link_to 'Create new page', new_page_path